/* Sass file that assigns font size */
$font-size-small: 12px;
$font-size-mid: 14px;
$font-size-big: 16px;

body {
    font-size: $font-size-mid;
    h1 {
        font-size: $font-size-big;
    }
    .smaller h1 {
        font-size: $font-size-small;
    }
}
