/* Sass file that assigns font size and text color */
$font-size: 12px;
$first-color: #00ff00;
$second-color: #ff0000;

.info {
    font-size: $font-size;
}

.success {
    @extend .info;
    color: $first-color;
}

.warning {
    @extend .info;
    color: $second-color;
}
